/* Стили для общего блока .product-card */
.product-card {
  border: 1px solid lightgrey;
  background-color: white;
  text-align: center;
}

/* Стили для изображения .img-responsive */
.img-responsive {
  height: 45%;
  width: 90%;
  margin-top: 10px;
  border: 1px solid grey;
}

