.wrapper {
    border: 1px solid grey;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.item {
    border: 1px solid grey;
    width: 40%;
    background-color: #edeef0;
    margin: 5%;
    padding: 2%;
    height: 70%;
}

.left-side {
    text-align: center;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}


