.general {
    height: 70%;
    background-color: white;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}

.image-container {
    background: #edeef0;
    height: 100%;
    width: 30%;
    padding: 0;
    border: 1px solid lightgrey;
}

.image-container img {
    height: 100%;
    width: 100%;
}

.right-side {
    background-color: white;
    text-align: center;
    width: 60%;
    height: 100%;
    margin-left: 10%;
}

.parameters{
    margin-top: 2%;
}

