{% extends 'main/parent.html' %}
{% load static %}

{% block links %}<link rel="stylesheet" href="{% static 'main/checkout.css' %}">{% endblock %}
{% block title %}Checkout{% endblock %}

{% block content %}
<h2 align="center" style="margin: 2%">Confirm your purchase now!</h2>

 <form method="post" class="buy-form">{% csrf_token %}
    <div class="wrapper">
            <div class="col-lg-6 left-side item">
                <div>
                    <h5 align="center" class="contact-info">Contact information</h5>

                    <div>
                        <span class="form-error">{{ form.name.errors }}</span>
                        <input
                                class="input-left"
                                type="text"
                                name="{{ form.name.html_name }}"
                                placeholder="Name and surname"
                        >
                    </div>

                    <br>

                    <div>
                        <span class="form-error">{{ form.phone_number.errors }}</span>
                        <input
                                class="input-left"
                                type="text"
                                name="{{ form.phone_number.html_name }}"
                                placeholder="Phone number"
                        >
                    </div>

                    <div>
                        <button
                                type = "submit"
                                class="btn btn-success buy"
                                id="buy"
                                style="margin-top: 10%"
                        >
                            Buy now
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 right-side item">
                <h5 align="center">Products in your cart</h5>

                <ul class="cart-ul" id="cart-ul">

                    {% for product in products_in_cart %}
                            <li
                                    class="right-side-product"
                                    id="right-side-product"
                                    style="margin: 3%;
                                    list-style-type: none;"
                            >
                            <input type="number"
                                   value="{{ product.number }}"
                                   class="product-input"
                                   name="product_in_cart_{{ product.id }}"
                                   style="width: 10%"
                            >
                            {{ product.product.name }}
                            for <span class = "product-price" id="product-price">{{ product.price_per_item }}</span> €
                            <span class="total" id="total" hidden>{{ product.total_price }}</span>
                        </li>
                    {% endfor %}

                </ul>

                <h5 class="total-price" id="total-price" hidden></h5>
            </div>
    </div>
 </form>
{% endblock %}